*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --dark-grey: #0a0a23;
    --light-grey: #f5f6f7;
    --white: #ffffff;
    --black: #000;
    --blue: rgb(12, 12, 128);
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #ffffff;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-inline-start: 0.67em;
  margin-inline-end: 0.67em;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  color: var(--black);
  margin: 10px 10px;
}

.palindrome-div {
  display: flex;
  width: min(100vw, 450px);
  min-height: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 5px 5px #08437e
}

.palindrome-input {
  width: 250px;
  height: 30px;
  margin: 10px;
  text-align: center;
  border: none;
  font-size: 1.3rem;
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}

.palindrome-button {
  width: 110px;
  margin: 10px;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(rgb(25, 102, 235), rgb(55, 37, 118));
}

.reset-button {
  display:block;
  width: 110px;
  margin: 10px;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(rgb(49, 167, 5), rgb(18, 66, 5));
}

.hidden {
  display: none;
}

.results-div {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
}

.palindrome-definitions-div {
  display: flex;
  width: min(100vw, 450px);
  min-height: 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(171, 180, 8), rgb(240, 202, 16));
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  color:#000;
  box-shadow: 0 5px 5px #08437e
}

@media screen and (max-width: 800px ) {
  h1 {
    color:rgb(49, 167, 5);
    margin: 20px 20px;
    padding: 20px;
    text-align: center;
  }
  
}